<!DOCTYPE HTML>
<html lang='en'>

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo4.png" type="image/x-icon">
  <title>WX Migrator</title>
	<style>
		h1 {
		font-family: georgia;
		}
		body {
			background-color: #faf2e4;
			font-family: sans-serif;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
		}
		header {
			border-bottom: 1px solid #57b1dc;
			background-color: #33C7FF;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
			display: grid;
			grid-template-rows: 30px 30px 30px 30px;
			grid-template-columns: 20px 90px 1fr 60px 400px 150px;
		}
		#titleTable {
			margin-top: 40px;
			margin-left: 70px;
			border-bottom: 1px solid #57b1dc;
		}
		nav {
				width: 100%;
				margin-left: 50px;
				margin-right: 50px;
				margin-top: 7px;
				margin-bottom: 7px;
				float: right;
				padding-top: 8px;
				padding-bottom: 4px;
		}

		#logo {
			grid-row-start: 2;
			grid-column-start: 2;
		}
		#title {
			grid-row-start: 2;
			grid-column-start: 3;
		}
		#userLbl {
			grid-row-start: 1;
			grid-column-start: 4;
			color: gray;
		}
		#orgLbl {
			grid-row-start: 3;
			grid-column-start: 4;
		  color: gray;
		}
		#user {
			grid-row-start: 1;
			grid-column-start: 5;
			color: gray;
		}
		#org {
			grid-row-start: 3;
			grid-column-start: 5;
			color: gray;
		}
		#lo {
			grid-row-start: 2;
			grid-column-start: 6;
		}
		.button {
				background-color: #3AD6CF;
				border: none;
				color: white;
				padding: 15px 25px;
				text-align: center;
				font-size: 17px;
				cursor: pointer;
				border: 1px solid;
				border-radius: 2em;
				padding: .5em 1em;
				margin: .1em;
				float: right;
		}
		.button:hover {
				background-color: #B6BEBE;
		}
		main {
				margin-left: 50px;
				margin-right: 50px;
		}
		#tableDevices {
				border: 2px outset;
				background-color: white;
				width: 100%;
		}
		th {
				border: 1px solid;
				background-color: #B6BEBE;
				align-items: left;
				height: 30px;
		}
		.cell-align-center {
				text-align: center;
		}
		footer {
			color: gray;
			font-style: italic;
			border-top: 1px solid #57b1dc;
			text-align: center;
			width: 100%;
			position: fixed;
			bottom: 0%;
			left: 0%;
		}
	</style>
</head>
<body>
	<header>
		<img src='/davpages/cropped-rocket-logo-inverted-transparent_small.png' alt='logo' id='logo'>
		<h1 id='title'>WX Migrator</h1>
		<h4 id='userLbl'>User:</h4>
		<h4 id='user'><%= user %></h4>
		<h3 id='lo'><a href='TO-DO'>Logout</a></h3>
		<h4 id='orgLbl'>Org:</h4>
		<h4 id='org'><%= org %></h4>
	</header>