<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.10.7, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo4.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>WX Migrator</title>
  <link rel="stylesheet" type="text/css" href="/tether/tether.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css">
  <link rel="stylesheet" type="text/css" href="/mobirise/css/mbr-additional.css">
  
  
</head>
<body>
  <section class="cid-ryarzaWfUe mbr-fullscreen mbr-parallax-background" id="header2-0">

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">WX Migrator</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5"><strong><br></strong><em>Migrate Cisco Video Endpoints to the Cloud.</em><br><strong>WX Migrator</strong> is designed to help Cisco Webex Teams admins to easily migrate their Cisco Video Endpoints from on-premises call-control (CUCM, VCS or EXP) to the Webex cloud call-control.</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="index.html#content2-9" target="_blank">LEARN MORE</a> <a class="btn btn-md btn-success display-4" href=<%= link %></a>><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>START</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-1">Contact</h2>
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4">
                        <div class="b b-adress">
                            <h5 class="align-left mbr-fonts-style m-0 display-5">Author:</h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7"></p><p>Davide Grandis</p><p></p>
                            <p>Webex Technical Solution Architect</p>
                        </div>
                    </div>
                      <div class="col-12 col-md-4">
                        <div class="b b-mail">
                            <h5 class="align-left mbr-fonts-style m-0 display-5">Webex Teams:</h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7"><p>dgrandis@cisco.com</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-ryaxClFvVA" id="content2-9">

     

    <div class="container">
        
        <div class="title col-12">
            <h2 class="align-left mbr-fonts-style display-1">Info</h2>
        </div>

        
        
        
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <blockquote><p>This tool is provided as a sample to Cisco Webex Teams valued Customers and Partners to simplify the migration of video endpoints from on-premises to Cisco Webex registration allowing admins to remotely migrate video endpoints, without the need for performing the factory reset on the video device.</p>
                    <p>The tool is intended for use by Webex Teams administrators (full admin or device admin) and is based on a Webex Teams integration that leverages the Webex APIs in order to automatically create an activation code and send it to the on-prem video &nbsp;device(s) to register the endpoint to Webex.</p>
                    <p><strong>Requisites:</strong></p><p>- full admin or device admin account;</p><p>- the on-prem registered video endpoint(s) must support the Webex cloud registration and run CE9.8+;</p>
                    <p>- The Webex endpoint license(s) must be available.</p>
                    <p><strong>More info and code:</strong></p><p>&lt;Link &nbsp;to CodeExchange&gt;</p></blockquote>
            </div>
        </div>
    </div>
</section>


<script src="/web/assets/jquery/jquery.min.js"></script>
<script src="/popper/popper.min.js"></script>
<script src="/tether/tether.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/smoothscroll/smooth-scroll.js"></script>
<script src="/parallax/jarallax.min.js"></script>
<script src="/theme/js/script.js"></script>

  
</body>
</html>