<!DOCTYPE html>
<html>

<head>
  <title>WX Migrator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  <div id="content">
    <h1>Webex Migration Tool</h1>
    <p></p>
    <p><b>Account info: </b><%= displayName %> (<%= email %>)</p>
    <p><b>Org info: </b></p>
  </div>

  <div id='buttons'>

    <a href='/listDevices' class='w3-button w3-black w3-round-xxlarge'>List Devices</a>

    <a href='/createCode' class='w3-button w3-black w3-round-xxlarge'>Create Activation Code</a>

    <a href='/logout' class='w3-button w3-black w3-round-xxlarge'>Logout</a>

  </div>


</body>

</html>